<a href="https://colab.research.google.com/github/aisha-ramiro/fatec-ads/blob/main/Tarefa1_Algoritmos_e_L%C3%B3gica_de_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Olá, mundo!

print('Olá, mundo!')

Olá, mundo!

In [30]:
# 2. Seu nome

nome = input('Digite o seu nome: ')

print('Olá, ' + nome + '!')

Digite o seu nome: Aisha
Olá, Aisha!

In [4]:
# 3. Mensagem Multilinha

print('''
Dados do aluno:
- Nome: Aisha
- Idade: 23 anos
- Cidade: Monte Alto
- Curso: Análise e Desenvolvimento de Sistemas
- Período: 1º Semestre
''')

Dados do aluno:
- Nome: Aisha
- Idade: 23 anos
- Cidade: Monte Alto
- Curso: Análise e Desenvolvimento de Sistemas
- Período: 1º Semestre

In [5]:
# 4. Concatenação de Strings

parte1 = 'Estou estudando: '
parte2 = 'Python!'

print(parte1 + parte2)

Estou estudando: Python!

In [7]:
# 5. Citação Famosa

print('Fiódor Dostoiévski me marcou muito com uma passagem em sua obra "Crime e Castigo": "Tudo está ao alcance do homem, e ele deixa isso tudo escapar por medo."')

Fiódor Dostoiévski me marcou muito com uma passagem em sua obra "Crime e Castigo": "Tudo está ao alcance do homem, e ele deixa isso tudo escapar por medo."

In [11]:
# 6. Operações Matemáticas Simples

soma = 2 + 3
subtracao = 10 - 2
multiplicacao = 5 * 6

print('Soma: ' + str(soma))
print('Subtração: ' + str(subtracao))
print('Multiplicação: ' + str(multiplicacao))

# Obs: Utilizei o str() para converter os valores int em string, possibilitando assim a concatenação

Soma: 5
Subtração: 8
Multiplicação: 30

In [13]:
# 7. Listando Informações

lista_de_compras = ['Maçã', 'Banana', 'Macarrão', 'Queijo']

print('Lista de items para comprar: ')
for item in lista_de_compras:
  print(item)

# Obs: Optei por inserir as informações em um array e utilizar o 'for...in' para percorrer todos os elementos desse array e os listar.

Lista de items para comprar:
Maçã
Banana
Macarrão
Queijo

In [14]:
# 8. Formatação com .format()

curso = "Análise e Desenvolvimento de Sistemas"
alunos = 40

print('O curso de {} conta com {} alunos ativos.' .format(curso, alunos)) # o .format() vai formatar as strings e inserir as variáveis de maneira flexível nos locais reservados com {}

O curso de Análise e Desenvolvimento de Sistemas conta com 40 alunos ativos.

In [33]:
# 9. F-Strings

aluno = input('Digite o nome do aluno: ')
nota = float(input('Digite o valor da nota: '))

print(f'A nota do(a) aluno(a) {aluno} é: {nota:.1f}') # o f-strings é uma forma mais simples de formatar e concatenar as strings. É necessário utilizar o prefixo f e declarar as variáveis dentro de {}.

# Obs. Utilizei o float(input()) para inserir o valor da nota.
# na segunda variável, usei o .1f para formatar o valor de nota e mostrar uma casa decimal.

Digite o nome do aluno: Gabriele
Digite o valor da nota: 10
A nota do(a) aluno(a) Gabriele é: 10.0

In [29]:
# 10. Tabela de Multiplicação

for n in range(1,6): # loop externo para a linha, define o primeiro valor, n é a variável que será atribuida, 1 é onde começa e 6 onde termina, sendo o 6 excluído
  print(f'Tabuada do {n}')
  for i in range(1, 11): # loop externo para a coluna, define o segundo valor, atribuido ao primeiro
    print(f'{n} x {i} = {n*i}')
  print('---')

Tabuada do 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
---
Tabuada do 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
---
Tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
---
Tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
---
Tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
---